.form-common-layout {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 6px;
    background: white;
    border-bottom: 1px solid #eeeeee;
    align-items: center;
}

.form-common-layout .form-input-value.am-list-item.am-textarea-item {
    min-height: 32px;
    padding-left: 4px;
    padding-right: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-common-layout .am-list-item.am-input-item {
    min-height: 32px;
    height: 32px;
}

.form-common-layout .am-textarea-control {
    padding: 4px;
}

.form-common-layout .am-textarea-control textarea {
    font-size: 14px;
    text-align: right;
    padding-right: 4px;
}

.form-common-layout .am-textarea-clear {
    margin-top: 0;
}

.form-common-layout .am-list-item {
    min-height: 32px;
}

.form-common-layout .am-list-line {
    padding-right: 8px;
    border-bottom: none !important;
}

.form-common-layout .am-list-line::after {
    /*去掉数字输入框的底部横线*/
    display: none !important;
}

.form-common-layout .am-list .am-list-item.am-textarea-item {
    min-height: 32px;
    height: 100%;
    padding-left: 8px;
    align-items: center;
}

.form-common-layout .am-list-item .am-input-control {
    font-size: 14px;
}

.form-common-layout .am-list-item .am-input-control input {
    font-size: 14px;
    text-align: right;
    padding-right: 4px;
}

/***********************************************************************************/
.form-textarea-layout {
    border-bottom: 1px solid #eeeeee;
}

.form-textarea-layout .am-textarea-control {
    padding: 2px;
}

.form-textarea-layout .am-textarea-control textarea {
    font-size: 14px;
    text-align: left;
    padding-left: 2px;
}

.form-textarea-layout .am-list .am-list-item.am-textarea-item {
    min-height: 32px;
    height: 100%;
    padding-left: 4px;
    align-items: center;
}

.form-textarea-layout .form-input-value.am-list-item.am-textarea-item {
    min-height: 80px;
    max-height: 300px;
    padding-left: 4px;
    padding-right: 4px;
    overflow-y: scroll;
}

.form-textarea-layout .form-input-value.am-list-item.am-textarea-item::-webkit-scrollbar {
    display: none;
}

.form-textarea-layout i.anticon.anticon-download {
    display: none !important;
}

/************************************************************************************/

.form-title-text {
    font-size: 14px;
    color: #2F95DD;
    flex: 1;
    font-weight: bold;
}

.form-title-delete {
    font-size: 14px;
    color: red;
    padding-left: 10px;
}

.form-input-caption {
    font-size: 14px;
    color: #333333;
    width: 90px;
}

.form-input-fill {
    font-size: 14px;
    color: red;
    padding: 4px;
    font-weight: bold;
}

.form-input-value {
    flex: 1;
    font-size: 14px;
    color: #333333;
    text-align: right;
}

.form-add-text {
    width: 100%;
    height: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    color: #2F95DD;
    font-weight: bold;
    background: #efefef;
}

.form-common-modal-root {
    min-height: 280px;
    max-height: 76vh;
    overflow: auto;
}

.upload-list-inline .ant-upload-list-item {
    /*附件列表格式*/
}

.uploadBtn {
    background: #4197FC;
    border-radius: 4px;
    padding: 4px 8px;
    color: white;
}

.uploadBtn-disable {
    background: #e4e4e4;
    border-radius: 3px;
    padding: 4px;
    color: gray;
}
